<header>
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="onMenuIconClick()">
          	<mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>

        <div fxFlex fxLayoutAlign="end">
          	<button mat-button [matMenuTriggerFor]="menu">
            	<mat-icon>person_outline</mat-icon>
          	</button>
          	<mat-menu #menu="matMenu">
            	<div *ngIf="!currentUser">
					<a routerLink="/auth/register" mat-menu-item > 
						<mat-icon>person_add</mat-icon>
						Register 
					</a>
					<a routerLink="/auth/login" mat-menu-item> 
						<mat-icon>login</mat-icon>
						Login 
					</a>
				</div>
            	<div *ngIf="currentUser">
              		<p mat-menu-item>Hi, {{ currentUser.email }}</p>
             		<p mat-menu-item (click)="onLogout()">
						<mat-icon>logout</mat-icon>
						Logout
					</p>
            	</div>
          	</mat-menu>
        </div>
    </mat-toolbar>
</header>