.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mat-sidenav-container {
    flex-grow : 1;

    .mat-sidenav {
        width: 280px;   
    }

    .mat-sidenav-content {
        padding: 12px 26px;
    }
}