<mat-nav-list>
    <div *ngIf="!currentUser">
        <a mat-list-item routerLink="/auth/register">
            <mat-icon>person_add</mat-icon>
            Register
        </a>
        <a mat-list-item routerLink="/auth/login">
            <mat-icon>login</mat-icon>
            Login
        </a>
        <mat-divider></mat-divider>
    </div>
    <div>
        <a mat-list-item routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a mat-list-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            Profile
        </a>
        <a mat-list-item routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </a>
    </div>
    <div *ngIf="currentUser">
        <mat-divider></mat-divider>
        <a mat-list-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            Logout
        </a>
    </div>
</mat-nav-list>